@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario {
  &__grid {
    @include m.tablet {
      @include m.grid(2, 5rem);
    }
  }

  &__contenido {
    background-color: v.$primario;
    padding: v.$separacion;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5rem;
  }

  &__heading {
    color: v.$blanco;
    text-align: center;
  }

  &__campo {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    text-transform: uppercase;
    color: v.$blanco;
    margin: 1rem 0;
  }

  &__input {
    width: 100%;
    padding: 1.5rem;
    border: none;
  }

  &__submit {
    margin-top: 2rem;
    @include m.boton(v.$secundario, v.$blanco);

    @include m.tablet {
      width: 100%;
    }
  }
  &__imagen-contenedor {
    margin-top: v.$separacion;
    display: flex;
    justify-content: center;
  }

  &__imagen {
    width: 30rem;

    @include m.desktop {
      width: 100%;
    }
  }
}

.delivery-app-promo {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
}

.delivery-app-promo h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #ff6347; /* Tomate */
}

.delivery-app-promo h2 span {
  color: #ff4500; /* OrangeRed */
}

.delivery-app-promo p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
}
